API_KEY=api_key
MODEL=gpt-4-turbo-2024-04-09
GPT_ENGINE=gpt-4-turbo-2024-04-09
PROXY=protocol://your-amazing-proxy-if-needed:PORT
TOKEN=secret_bot_token
START_PLACEHOLDER=Hello! I will try to maintain a dialogue with you
PLACEHOLDER=Wait for a while...
CLEAR_CONTEXT_ANSWER=Context deleted
CONTEXT_SIZE=10
OPEN_AI_ERROR=Open AI error occurred, try again later
ALLOWED_IDS=list,of,user,ids,who,can,use,the,bot
